@import "tailwindcss";


:root {
  --gradient-start:#f0f0f4; 
  --gradient-end:  #88b7e6;  
}



 body {
  background-image: linear-gradient(to bottom right, var(--gradient-start), var(--gradient-end));
  height: 100vh; 
}